.customerContainer{
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
  background-color: #ececec;
}

.mainContentContainer{
  display: flex;
  flex-direction: column;
  gap:1rem;
  width: 75%;
  padding: 1.5rem;
  background-color: #ffffff;
  .tabContainer{
    display: flex;
    flex-direction: row;   
    border-bottom: 0.1rem #ececec solid;
    gap:1.5rem;
    .tabBtn{ 
      border: 0.1rem solid #ffffff; 
      padding-left: 0rem;
      padding-bottom: 0.5rem;
      box-sizing: border-box;     
      background-color: #ffffff;
      color: #848484;
      font-size: medium;
      &:focus{
        color: #000000;
        border-bottom: 0.1rem blue solid ;
      }      
    }
    .activeBtn{
      color: #000000;
      border-bottom: 0.1rem blue solid;
    }
   }
}

.leftNavBarContainer{
  width: 12rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  padding-top: 1rem;
  background-color: #ffffff;
}

.accordianBtn{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .btnAccordion{
    display: flex;
    gap:0.4rem;
    padding: 0.5rem;
    background-color: transparent;
    border: none;   
  }
  .title{
    font-size: 1rem;
    margin-top: 0.1rem;
  }
  .accordionIcon{
    margin-top: 0.3rem;
  }
}

.accordionPanelContainer{
  display: flex;
  flex-direction: column;
}

.profilePanelContainer{
  display: flex;
  flex-direction: column;
  gap: 1rem;  
  .btn{
    display: flex;
    gap:0.5rem;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    &:hover{
      background-color: #4059F2;
      border-radius: 0.2rem ;
      color: #ffffff;
    }
    &:focus{
      background-color: #4059F2;
      border-radius: 0.2rem ;
      color: #ffffff;
    }
  }
}

.headingContiner{
  display: flex;
  align-items: center;
  gap:1rem;
  .btnProfile{
    border: none;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    gap:0.3rem;
    height: 2rem;
  }
  .accIcon{
    margin-top: 0.3rem;
  }
}

.indivdualAccordion{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  .innerBtn{    
    display: flex;
    gap:0.5rem;
    padding: 0.1rem;
    padding-left: 0.5rem;
    background-color: transparent;
    border: none;
    .innerAccIcon{
    margin-top: 0.8rem;
    }
    &:hover{
      background-color: #4059F2;
      border-radius: 0.2rem ;
      color: #ffffff;
    }
    &:focus{
      background-color: #4059F2;
      border-radius: 0.2rem ;
      color: #ffffff;
    }
  }
}

.innerLabelContiner{
  display: flex;
  flex-direction: row;
  gap:0.5rem;
  border: none;
  color: #848484;
  padding: 0.1rem;
  padding-left: 0.5rem;
  background-color: transparent;
  &:hover{
    cursor: pointer;
  }   
}

.tab1Container{
display: flex;
flex-direction: row;
justify-content: space-between;
.innerTabContent{
  display: flex;
  flex-direction: column;
  gap:1rem;
}
.title{
  color: #848484;
  font-size: 1.1rem;
}
.iconWrapper{
  display: flex;
  flex-direction: row;
  gap:0.7rem;
  .name{
    margin-top: 0rem;

  }
  .icon{
    margin-top: 0.2rem;
  }
}
}

